<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guet.mapper.SanyaMapper">
  <resultMap id="BaseResultMap" type="com.guet.entity.Sanya">
    <result column="TIME" jdbcType="TIMESTAMP" property="time" />
    <result column="InVoltage" jdbcType="DECIMAL" property="involtage" />
    <result column="InCurrent" jdbcType="DECIMAL" property="incurrent" />
    <result column="Humidity" jdbcType="DECIMAL" property="humidity" />
    <result column="Leakage" jdbcType="DECIMAL" property="leakage" />
    <result column="Temperature1" jdbcType="DECIMAL" property="temperature1" />
    <result column="Temperature2" jdbcType="DECIMAL" property="temperature2" />
    <result column="Temperature3" jdbcType="DECIMAL" property="temperature3" />
    <result column="Temperature4" jdbcType="DECIMAL" property="temperature4" />
    <result column="OutVoltage1" jdbcType="DECIMAL" property="outvoltage1" />
    <result column="OutVoltage2" jdbcType="DECIMAL" property="outvoltage2" />
    <result column="OutVoltage3" jdbcType="DECIMAL" property="outvoltage3" />
    <result column="OutVoltage4" jdbcType="DECIMAL" property="outvoltage4" />
    <result column="OutVoltage5" jdbcType="DECIMAL" property="outvoltage5" />
    <result column="OutVoltage6" jdbcType="DECIMAL" property="outvoltage6" />
    <result column="OutVoltage7" jdbcType="DECIMAL" property="outvoltage7" />
    <result column="OutVoltage8" jdbcType="DECIMAL" property="outvoltage8" />
    <result column="OutCurrent1" jdbcType="DECIMAL" property="outcurrent1" />
    <result column="OutCurrent2" jdbcType="DECIMAL" property="outcurrent2" />
    <result column="OutCurrent3" jdbcType="DECIMAL" property="outcurrent3" />
    <result column="OutCurrent4" jdbcType="DECIMAL" property="outcurrent4" />
    <result column="OutCurrent5" jdbcType="DECIMAL" property="outcurrent5" />
    <result column="OutCurrent6" jdbcType="DECIMAL" property="outcurrent6" />
    <result column="OutCurrent7" jdbcType="DECIMAL" property="outcurrent7" />
    <result column="OutCurrent8" jdbcType="DECIMAL" property="outcurrent8" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TIME, InVoltage, InCurrent, Humidity, Leakage, Temperature1, Temperature2, Temperature3, 
    Temperature4, OutVoltage1, OutVoltage2, OutVoltage3, OutVoltage4, OutVoltage5, OutVoltage6, 
    OutVoltage7, OutVoltage8, OutCurrent1, OutCurrent2, OutCurrent3, OutCurrent4, OutCurrent5, 
    OutCurrent6, OutCurrent7, OutCurrent8
  </sql>
  <select id="selectByExample" parameterType="com.guet.entity.SanyaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sanya_shenhaisuo_box_environment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.guet.entity.Sanya">
    insert into sanya_shenhaisuo_box_environment (TIME, InVoltage, InCurrent, 
      Humidity, Leakage, Temperature1, 
      Temperature2, Temperature3, Temperature4, 
      OutVoltage1, OutVoltage2, OutVoltage3, 
      OutVoltage4, OutVoltage5, OutVoltage6, 
      OutVoltage7, OutVoltage8, OutCurrent1, 
      OutCurrent2, OutCurrent3, OutCurrent4, 
      OutCurrent5, OutCurrent6, OutCurrent7, 
      OutCurrent8)
    values (#{time,jdbcType=TIMESTAMP}, #{involtage,jdbcType=DECIMAL}, #{incurrent,jdbcType=DECIMAL}, 
      #{humidity,jdbcType=DECIMAL}, #{leakage,jdbcType=DECIMAL}, #{temperature1,jdbcType=DECIMAL}, 
      #{temperature2,jdbcType=DECIMAL}, #{temperature3,jdbcType=DECIMAL}, #{temperature4,jdbcType=DECIMAL}, 
      #{outvoltage1,jdbcType=DECIMAL}, #{outvoltage2,jdbcType=DECIMAL}, #{outvoltage3,jdbcType=DECIMAL}, 
      #{outvoltage4,jdbcType=DECIMAL}, #{outvoltage5,jdbcType=DECIMAL}, #{outvoltage6,jdbcType=DECIMAL}, 
      #{outvoltage7,jdbcType=DECIMAL}, #{outvoltage8,jdbcType=DECIMAL}, #{outcurrent1,jdbcType=DECIMAL}, 
      #{outcurrent2,jdbcType=DECIMAL}, #{outcurrent3,jdbcType=DECIMAL}, #{outcurrent4,jdbcType=DECIMAL}, 
      #{outcurrent5,jdbcType=DECIMAL}, #{outcurrent6,jdbcType=DECIMAL}, #{outcurrent7,jdbcType=DECIMAL}, 
      #{outcurrent8,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.guet.entity.Sanya">
    insert into sanya_shenhaisuo_box_environment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="time != null">
        TIME,
      </if>
      <if test="involtage != null">
        InVoltage,
      </if>
      <if test="incurrent != null">
        InCurrent,
      </if>
      <if test="humidity != null">
        Humidity,
      </if>
      <if test="leakage != null">
        Leakage,
      </if>
      <if test="temperature1 != null">
        Temperature1,
      </if>
      <if test="temperature2 != null">
        Temperature2,
      </if>
      <if test="temperature3 != null">
        Temperature3,
      </if>
      <if test="temperature4 != null">
        Temperature4,
      </if>
      <if test="outvoltage1 != null">
        OutVoltage1,
      </if>
      <if test="outvoltage2 != null">
        OutVoltage2,
      </if>
      <if test="outvoltage3 != null">
        OutVoltage3,
      </if>
      <if test="outvoltage4 != null">
        OutVoltage4,
      </if>
      <if test="outvoltage5 != null">
        OutVoltage5,
      </if>
      <if test="outvoltage6 != null">
        OutVoltage6,
      </if>
      <if test="outvoltage7 != null">
        OutVoltage7,
      </if>
      <if test="outvoltage8 != null">
        OutVoltage8,
      </if>
      <if test="outcurrent1 != null">
        OutCurrent1,
      </if>
      <if test="outcurrent2 != null">
        OutCurrent2,
      </if>
      <if test="outcurrent3 != null">
        OutCurrent3,
      </if>
      <if test="outcurrent4 != null">
        OutCurrent4,
      </if>
      <if test="outcurrent5 != null">
        OutCurrent5,
      </if>
      <if test="outcurrent6 != null">
        OutCurrent6,
      </if>
      <if test="outcurrent7 != null">
        OutCurrent7,
      </if>
      <if test="outcurrent8 != null">
        OutCurrent8,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="involtage != null">
        #{involtage,jdbcType=DECIMAL},
      </if>
      <if test="incurrent != null">
        #{incurrent,jdbcType=DECIMAL},
      </if>
      <if test="humidity != null">
        #{humidity,jdbcType=DECIMAL},
      </if>
      <if test="leakage != null">
        #{leakage,jdbcType=DECIMAL},
      </if>
      <if test="temperature1 != null">
        #{temperature1,jdbcType=DECIMAL},
      </if>
      <if test="temperature2 != null">
        #{temperature2,jdbcType=DECIMAL},
      </if>
      <if test="temperature3 != null">
        #{temperature3,jdbcType=DECIMAL},
      </if>
      <if test="temperature4 != null">
        #{temperature4,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage1 != null">
        #{outvoltage1,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage2 != null">
        #{outvoltage2,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage3 != null">
        #{outvoltage3,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage4 != null">
        #{outvoltage4,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage5 != null">
        #{outvoltage5,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage6 != null">
        #{outvoltage6,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage7 != null">
        #{outvoltage7,jdbcType=DECIMAL},
      </if>
      <if test="outvoltage8 != null">
        #{outvoltage8,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent1 != null">
        #{outcurrent1,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent2 != null">
        #{outcurrent2,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent3 != null">
        #{outcurrent3,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent4 != null">
        #{outcurrent4,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent5 != null">
        #{outcurrent5,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent6 != null">
        #{outcurrent6,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent7 != null">
        #{outcurrent7,jdbcType=DECIMAL},
      </if>
      <if test="outcurrent8 != null">
        #{outcurrent8,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>